on:
  push:
    tags:
      - "*@*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@main

      - name: Setup Node
        uses: actions/setup-node@main
        with:
          node-version: 15.x
          registry-url: https://registry.npmjs.org/
          scope: "@rnmodules"

      - name: Get package
        run: |
          PACKAGE=$(echo "${GITHUB_REF#refs/*/}" | cut -d \@ -f 1)
          echo "PACKAGE="$PACKAGE"" >> $GITHUB_ENV
          echo "WORKING_DIR="./packages/$PACKAGE"" >> $GITHUB_ENV

      - name: Release to NPM
        run: |
          yarn
          yarn test
          yarn build
          cp {package.json,LICENSE,CHANGELOG.md} dist
          cd dist && yarn release
        working-directory: ${{ env.WORKING_DIR }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

      - name: Release to Github
        uses: ncipollo/release-action@v1
        with:
          body: Please refer to [CHANGELOG.md](https://github.com/thestrawhats/react-native-modules/blob/main/packages/${{ env.PACKAGE }}/CHANGELOG.md) for more details.
          token: ${{ secrets.GITHUB_TOKEN }}
